@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post))
{
    <div class="card my-4">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">
            <div class="input-group">
                <input id="Ara" name="Ara" type="text" class="form-control" placeholder="Aranacak Kelime...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Ara!</button>
                </span>
            </div>
        </div>
    </div>
}
